<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Loan Application Form</title>
  </head>
  <body>
    <h1>Loan Application Form</h1>
    <form>
      <label for="amount">Loan Amount:</label>
      <input type="number" id="amount" name="amount">
      &nbsp
      <label for="contact">currency:</label>
      <input type="currnency" id="currency" name="contact" value="eur"><br><br>

      <label for="term">Term of loan:</label>
      <input type="number" id="term" name="term"><br><br>

      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br><br>

      <label for="name">personal id:</label>
      <input type="text" id="persoal_ID" name="name"><br><br>

      <label for="contact">conatact:</label>
      <input type="contact" id="contact" name="contact">
      &nbsp
      <label for="type_of_contact">type of contact:</label>
      <input type="text" id="type_of_contact" value="email"><br><br>

      <label for="comment">Comments:</label>
      <textarea id="comment" name="comment"></textarea><br><br>

      <input type="submit" value="Submit">
      <input type="reset" value="Reset">
    </form>
  </body>
</html>
